.quote
  width: 600px
  height: 100%
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: spread

  h1, h2
    display: block
    margin: 0
    padding: 0

  h1
    font-size: 4em
    text-align: center

    &:before, &:after
      content: '"'
      font-style: italic
      color: #555

  h2
    font-size: 2em
    margin-top: 1em
    font-style: italic
    color: slategrey
    text-align: right

    &:before
      content: '- '
      font-style: none
